body{
  background:#eef2f7;
  font-family: Arial, sans-serif;
}

.cv-box{
  max-width:750px;
  background:white;
  margin:40px auto;
  padding:25px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.header{
  display:flex;
  align-items:center;
  gap:20px;
}

.header img{
  width:130px;
  height:130px;
  border-radius:50%;
  border:4px solid #4f46e5;
}

h1{
  margin:0;
  color:#1f2937;
}

h2{
  color:#4f46e5;
  margin-top:20px;
}

p, li{
  color:#374151;
}
